body{
    margin: 0;
    padding: 0;
    background-color: #e74c3c;
}
.color{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20%;
}

#hex{
    text-transform: uppercase;
    color: aliceblue;
    font-size: large;
    margin: 15px;
}

.color button{
    background: none;
    outline: none;
    color: #fff;
    border: #fff solid 3px;
    cursor: pointer;
    padding: 10px;
}